
.source1{
    background-color: rgb(204, 119, 153);
}
.source2{
    background-color: #3a3;
}
.source3{
    background-color: brown;
}
.source4{
    background-color: #4f94ac;
}
.source5{
    background-color: #48a7d3;
}
.source6{
    background-color: rgb(0, 129, 0);
}
.source7{
    background-color: #c45645;
}