@import "./variables.module.scss";

#contactDialog{
  border-radius: 15px;
  border-width: 5px;
  padding: 0;

  #fieldContainer{
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    clear:both;
  }

  label{
    display: block;
    font-family: 'main';
    font-weight: bold;
    font-size: 20px;
  }

  textarea{
    height: 100px;
    min-width: 150px;
  }

  input, textarea{
    margin: 2px 15px 10px 15px;
    outline: none;
    border: rgba(0,0,0,0.1) solid 1px;
    background-color: rgba(0,0,0,0.05);
    font-family:'defaultArabicF','defaultTextF','defaultKoreanF';
    font-size: 16px;
    text-overflow: ellipsis;

    &:hover{
      border: rgba(0,0,0,0.1) solid 1px;
    }
  }

  button{
    cursor: pointer;
    border: none;
    font-family: 'main';
    font-weight: bold;
    font-size: 20px;
    padding: 10px auto;
    background-color: rgba($color: #000000, $alpha: 0);
    color: black;
  }

}


@media screen and (max-device-width: $max-width-for-mobile){
  #contactDialog{
    #fieldContainer{
      grid-template-columns: 100%;
    }
  }
}